@font-face {
    font-family: SNPro;
    src: url('./fonts/SNPro-Regular.ttf');
}

@font-face {
    font-family: DFYeaSong;
    src:url('./fonts/DFYeaSong-W9-WINP-BF-01.ttf');
}

html {
    background-image: url("./images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h2 {
    font-size: 45px;
    font-family: DFYeaSong;
    font-weight: bold;
    margin-bottom: 10px;
}

body, settings-container {
    color: white;
    display: flex;
    font-family: SNPro;
    flex-direction: column;
    place-items: center;
}

settings-container {
    padding-bottom: 20px;
}

footer {
    background-color: #1C1C1C;
    margin: 0;
    padding: 10px;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    color: #A1A1A1;
    text-align: left;
    width: 90vw;
}

select {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

canvas {
    aspect-ratio: 16 / 9;
    width: min(90vw, 640px);
    height: auto;
    background-color:black;
}

settings {
    padding: 15px;
    line-height: 25px;
    font-family: SNPro;
    background-color: #314778;
    color: white;
    aspect-ratio: 5 / 3;
    width: max(300, 45vw);
}

settings button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    width: 50%;
}

settings select {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #16264a;
    color: white;
    padding: 5px;
    font-size: 13px;
    outline-color: black;
    width: 50%;
}

settings code {
    display: block;
    padding: 15px;
    line-height: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    width: 100%;
}

settings input[type='file'] {
    background-color: #16264a;
    font-family: SNPro;
    width: 250px;
    width: 50%;
}

#tempDL {
    all: revert;
    display: block;
    margin: 0 auto;
}